`CacheControl` is missing methods for `must-revalidate` directive

There are methods for all the directives in [RFC-9111 § 5.2](https://www.rfc-editor.org/rfc/rfc9111#section-5.2) with the sole exception of `must-revalidate`.